* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(210, 230, 236);
    background-color: turquoise;
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-shadow: 1px 0.6px 0 rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 2.4rem;
}

.hints {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 1.3rem;
    background-color: rgb(210, 230, 236);
    background-image:
        linear-gradient(to top, #fff 2px, transparent 2px),
        linear-gradient(to right, #fff 2px, transparent 2px);
    background-size: 55px 55px;
    background-position: center;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: none;
    border: 30px solid rgba(255,255,255,0.4);
    border-radius: 12px;
}

.hints span {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4px 12px;
    width: 148px;
    transform: translateX(1px);
    color: #fff;
    text-shadow: 1px 0.6px 0 rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

.output {
    font-size: 1.5rem;
}